aws_region          = "us-east-1"
domain_name         = "yourdomain.com"
acm_certificate_arn = "arn:aws:acm:us-east-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
alb_dns_name        = ""
