MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/users_db?retryWrites=true&w=majority
JWT_SECRET=your-256-bit-hex-encoded-secret-key-here
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://yourdomain.com
